nav {
    background-color: #83c5be;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

nav * {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    list-style: none;
    font-weight: bolder;
    font-size: larger;
    padding: 15px;
}

nav button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-weight: bolder;
    font-size: large;
    padding: 5px;
}

#start {
    background-color: lightgreen;
}

#stop {
    background-color: red;
}

.navbar-options:hover {
    cursor: pointer;
    color: thistle;
}

#sort-by-option {
    float: right;
}