nav {
    background-color: grey;
}

nav * {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    list-style: none;
    font-weight: bolder;
    font-size: larger;
    padding: 20px;
}

.navbar-options:hover {
    cursor: pointer;
    color: thistle;
}

#sort-by-option {
    float: right;
}