footer {
    position: absolute;
    text-align: center;
    bottom: 0;
}

footer * {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    padding: 10px;
}

footer img:hover {
    opacity: 50%;
    cursor: pointer;
}